*{
    margin:0;
    padding:0;
}
header{
    top:0px;
    left:0px;
    width:100%;
    height: 50px;
    background-color:rgb(187, 70, 70);
    /*box-shadow: 0px 0px 8px #000000;*/
    position: fixed;
    z-index: 1;
}
.logo{
    color:#fff;
    position: absolute;
    top: 6px;
    left:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
}
.about{
    color:#fff;
    position: absolute;
    top:15px;
    right:30px;
    border:1px solid #fff;
    padding:3px;
    border-radius:8px;
}
.about a {
    text-decoration: none;
    color:#fff;
    font-size:20px;
}
.head-image{
    position:absolute;
    top:50px;
    left:0px;
    width:100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?cs=srgb&dl=computer-keyboard-connection-contemporary-1714208.jpg&fm=jpg');  
}
.head-image p{
    color:#fff;
    margin:70px;
    padding:80px;
    font-size:60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.navbar{
    position: absolute;
    top:450px;
    left:0px;
    width:100%;
    height: 50px;
    background-color:rgb(187, 70, 70);

}
.navbar ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
}
.navbar li{
    float:left;
    margin-top:5px;
}
.navbar li a{
    display: block;
    color:#fff;
    text-align: center;
    padding:10px 16px; 
    text-decoration: none;
}
.navbar li a:hover{
    background-color:rgb(182, 38, 25);
    border-radius: 8px;
}
.side{
  position: absolute;
  top:550px;
  left:10px;
  width:300px;
  height: 90%;  
  background-color:#EAF0F1;
  box-shadow: 0px 0px 8px #000000;
  padding:8px;
  
}
.notice{
  
    border:1px solid #B83227;
    height:400px;
    width:100%;
}
.notice h1{
    background-color:#B83227;
    text-align: center;
    color:#fff;
}
.content{
    position: absolute;
    top:550px;
    left: 400px;
    width:900px;
    height:90%;
    background-color:#EAF0F1;
    box-shadow: 0px 0px 8px #000000;
    padding:15px;
}
.content ol li a{
    color:#000;
    margin-left:30px;
    margin-top:30px;
    font-size:20px;
    text-decoration:none;
}
.content ol li a:hover{
    background-color:rgb(187, 70, 70);
    color:#fff;
    border-radius:5px;
    padding:5px;
}
.content ol{
    list-style:none;
}
.content ol li {
    margin-top:15px;
   
}
.navbar input[type=text]{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  width:500px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-right-radius:0px;
  outline: none;
}
button{
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width:50px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius:0px;
    outline: none;  
    color: #B83227;
}
button:hover{
    color:#fff;
    background-color: #B83227;
    transition: 0.5s;
}
.content h1{
    margin-top:10px;
    background-color: #B83227;
    color:#fff;
    text-align: center;
}
footer{
    position:absolute;
    top:1200px;
    left:0px;
    width:100%;
    height: 200px;
    background-color:#2F363F;
}
footer p{
    margin-top:10px;
    color:#fff;
    text-align: center;
}