*{
    margin:0;
    padding:0;
}
.head{
    background-color:#3498DB;
    position: absolute;
    top:0px;
    left:0px;
    height:720px;
    width: 100%;
}
.image{
    position: absolute;
    top:20%;
    right:10%;
    height:400px;
    width: 400px;
    border-radius: 50%;
    border:5px solid #0A3D62;
    box-shadow: 0px 0px 50px #000000;
}
.introduction{
    position:absolute;
    top:50%;
    left:25%;
    height:300px;
    width:700px;
    transform: translate(-35%,-35%);
    color:#fff;
    font-family: ;
    font-size:50px;
}
.nav{
    background-color: rgba(14, 10, 10, 0.5);
    position:absolute;
    top:150px;
    left:10%;
    height:20px;
    width:340px;
    border-radius:20px;
    padding-top:14px;
    padding-bottom:14px;
}
a{
    color:#fff;
    text-decoration: none;
    margin:10px;
    padding:10px;
    display:inline;
    border-radius:10px;

}
a:hover{
    background-color: rgba(14, 10, 10, 0.9); 
    border-radius:20px;
    transition:ease 1.5s;
}
.About{
    background-color:rgba(14, 10, 10, 0.911);
    opacity: 0.9;
    position: absolute;
    top:720px;
    left:0px;
    height:600px;
    width: 100%;
    color: #fff;
    font-size:25px;
}
.About h1{
    text-align: center;
    margin:20px;
    padding: 20px;
}
.content{
    position:absolute;
    top:35%;
    left:40%;
    transform: translate(-35%,-20%);
    text-justify: auto;
    justify-content: center;
}
.project{
    background-color:#3498DB;
    opacity: 0.9;
    position: absolute;
    top:1320px;
    left:0px;
    height:600px;
    width: 100%;
    color: #fff;
    font-size:25px;
}
h1{
    text-align: center;
    margin:50px;
}
.skill{
    background-color:rgba(76, 163, 120, 0.836);
    opacity: 0.9;
    position: absolute;
    top:1920px;
    left:0px;
    height:600px;
    width: 100%;
    color: #fff;
    font-size:25px;
}